#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border:2cm red;
}

.alt {
  width: 900px;
  border: 5px solid #646cffaa;
  padding: 20px;
  margin: 15px;
}

img {
  width: 50%;
  height: auto;
}

img {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 300px;
}


p {
  text-align: left;
}

h2{
  text-align: left;
  text-decoration: underline;
}
img:hover{
  border-color: #646cff;
  width: 300px
}

h4 {
  text-align: left;
}

h3 {
  text-align: left;
}

.rcardimg{
  width: 600px;
  position:
  
}
.rcardimg:hover{
  width: 600px
}

nav{
  position:relative; 
  top:0;
  overflow: visible;
  float: center
  
}

.bodytxt{
  text-align-last: auto;
  width: 45%;
  
  
}
.rvwtitle{
  text-decoration: underline;
  
}

.infosec{
  line-height: 0cm;
}
/* .span{
  width: 900px;
  border: 5px solid #646cffaa;
  padding: 20px;
  margin: 15px;

} */

/* .navbutton{
  text-align: left;
} */
/* div{
  width: 1000px;
  border: 5px solid #646cffaa;
  padding: 20px;
  margin: 15px;
  border-image-slice: fill;
}  */

/* nav {
  background-color: #646cff;
  border: #646cff;
  padding: 20px;
  margin: 20px;

} */